@charset "utf-8";
@import url("HR_Grotesk/stylesheet.css");

body {
	background-color:#F5F5DC;
	background-repeat: repeat;
}

.tussenstukje {
	padding: 20px;
}

.foto {
text-align: center;
}

#header {

}

#content {
    margin: auto;
    width: 65%;
    padding: 13px;
    font-family: "HR Grotesk";
    font-style: normal;
    font-weight: 400;
	border: 5px #DCDCF5;
	border-style: double
}

#about {
    margin: auto;
    width: 65%;
    padding: 13px;
    font-family: "HR Grotesk";
    font-style: normal;
    font-weight: 400;
    border: 5px #DCDCF5;
    border-style: double;
    clear: both;
}

